<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myresumetemplates">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyResumeTemplates">
        <activity android:name=".Forget" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Signup" />
        <activity android:name=".Login" />
        <activity android:name=".experience4" />
        <activity android:name=".skills4" />
        <activity android:name=".education4" />
        <activity android:name=".personaldata4" />
        <activity android:name=".experience3" />
        <activity android:name=".skills3" />
        <activity android:name=".education3" />
        <activity android:name=".personaldata3" />
        <activity android:name=".experience2" />
        <activity android:name=".skills2" />
        <activity android:name=".education2" />
        <activity android:name=".personaldata2" />
        <activity android:name=".experience1" />
        <activity android:name=".skills1" />
        <activity android:name=".education1" />
        <activity
            android:name=".personaldata1"
            android:label="Personal Details"
            android:parentActivityName=".createprofile1" />
        <activity android:name=".createprofile4" />
        <activity android:name=".createprofile3" />
        <activity android:name=".createprofile2" />
        <activity android:name=".createprofile1" />
        <activity android:name=".Frontpage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>